<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %} {% endblock css %}
    <script src="https://kit.fontawesome.com/7c0fbdbb67.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="navbar">
        <div class="menu">
            <div id="sidebar-icon">
                <span class="side-bar-container">
                    <div class="sidebar"></div>
                    <div class="sidebar"></div>
                    <div class="sidebar"></div>
                </span>
            </div>
            <div id="logo" class="item"><a href="{% url 'index' %}"><img id="clock" src="{% static 'icons/clocknew.gif'%}"/>Schedule<span>Tracker</span></a></div>
            {% if request.user.is_authenticated %}
                <div id="logout" class="item"><a href="{% url 'logout' %}">Logout</a></div>
            {% else %}
                <div id="login" class="item"><a href="{% url 'login' %}">Login</a></div>
                <div id="register" class="item"><a href="{% url 'register' %}">Register</a></div>
            {% endif %}
        </div>
    </nav>

    <nav id="main-sidebar">
        <div class="sidebar-container">
            <ul id="sidebar-ul">
                <li class="item index"><a href="{% url 'index' %}">
                    Events</a></li>
                <li class="item clients"><a href="{% url 'clients' %}">Clients</a></li>
                {% comment %} <li class="item profile"><a href="{% url 'index' %}">Profile<br/> settings</a></li> {% endcomment %}
            </ul>
        </div>
    </nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                    <p class="exit closeMessage">x</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <main id="content">
        {% block content %}
        {% endblock content%}
    </main>
    <script src="{% static 'js/base.js'%}"></script>
    {% block javascript %} {% endblock javascript %}

</body>

</html>