<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <nav>
        <div class="menu">
            <div id="logo" class="item"><a href="{% url 'index' %}">JobTracker</a></div>
            <div id="login" class="item"><a href="{% url 'login' %}">Login</a></div>
            <div id="register" class="item"><a href="{% url 'register' %}">Register</a></div>
        </div>
    </nav>
    {% block content %}
    {% endblock content%}
</body>

</html>