<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    {% block css %} {% endblock css %}
</head>

<body>
    <nav id="navbar">
        <div class="menu">
            <div id="sidebar-icon">
                <span class="side-bar-container">
                    <div class="sidebar"></div>
                    <div class="sidebar"></div>
                    <div class="sidebar"></div>
                </span>
            </div>
            <div id="logo" class="item"><a href="{% url 'index' %}"><img id="clock" src="{% static 'icons/clocknew.gif'%}"/>Schedule<span>Tracker</span></a></div>
            {% if request.user.is_authenticated %}
                <div id="logout" class="item"><a href="{% url 'logout' %}">Logout</a></div>
            {% else %}
                <div id="login" class="item"><a href="{% url 'login' %}">Login</a></div>
                <div id="register" class="item"><a href="{% url 'register' %}">Register</a></div>
            {% endif %}
        </div>
    </nav>

    <nav id="main-sidebar">
        <div class="sidebar-container">
            <ul id="sidebar-ul">
                <li class="item"><a href="{% url 'index' %}">Home</a></li>
                <li class="item"><a href="{% url 'clients' %}">Clients</a></li>
                <li class="item"><a href="{% url 'index' %}">Profile<br/> Settings</a></li>
            </ul>
        </div>
    </nav>

    <main id="content">
        {% block content %}
        {% endblock content%}
    </main>
    <script src="{% static 'js/main.js'%}"></script>
    {% block javascript %} {% endblock javascript %}
</body>

</html>