{% extends 'JobTrackingApp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock css %}

{% block content %}
    <div class="createClientDiv">
        <form class="addClientForm" action='' method='POST'>
            <p class="exit formExit"> x </p>
            {% csrf_token %}
            {{ form.as_p }} 
            <input class="button" type="submit" value="Create new client">
        </form>
    </div>
    <div class="features">
        <button class="addClient button"> Add Client </button>
    </div>
    <table id="clientsTable">
        <tr class="table-header">
            <th> Client name</th>
            <th> Phone number</th>
            <th> Email address </th>
            <th> Address </th>
        </tr>
        {% for client in clientList %}
            <tr class="table-row">
                <td class"link"><a class="link" href="{% url 'client-detail' client.pk %}">{{ client.name }}</a></td>
                <td> {{ client.phone_number }} </td>
                <td> {{ client.email_address }} </td>
                <td> {{ client.address }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}

{% block javascript %} 
    <script src="{% static 'js/clients.js' %}"></script>
{% endblock javascript %}