{% extends 'JobTrackingApp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock css %}

{% block content %}
    <div class="createClientDiv">
        <form class="addClientForm" action='' method='POST'>
            <p class="exit formExit"> x </p>
            {% csrf_token %}
            {% for field in form %}
                <p> 
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }} 
                </p>
            {% endfor %}
            <input class="button" type="submit" value="Create new client">
        </form>
    </div>
    
    <div class="wrapper">
        <div class="search">
            <form class="searchForm" action='' method='GET'>
                {{ searchForm.query }}
                <input class="button" type="submit" value="Search">
            </form>
        </div>
        <div class="features">
            <button class="addClient button"> Add Client </button>
        </div>
    </div>

    <table id="clientsTable">
        {% if page_obj %}
            <tr class="table-header">
                <th> Client name</th>
                <th> Phone number</th>
                <th> Email address </th> 
                <th> Address </th>
            </tr>
            {% for client in page_obj %}
                <tr class="table-row">
                    <td data-name="Client name" class="tdName"><a class="edit" href="{% url 'client-detail' client.pk %}"><i title="Edit Client Profile" class="far fa-edit"></i></a>{{ client.name }}</td>
                    <td data-name="Phone number"><a href="tel:{{ client.phone_number }}"> {{ client.phone_number }} </a></td>
                    <td data-name="Email Address"> {{ client.email_address }} </td>
                    <td data-name="Address"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ client.address }}">{{ client.address }}</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <p class="not-found"> Client was not found. Maybe create a new client?</p>
        {% endif %}
    </table>
    {% if is_paginated %}
    <div class="paginator">
        {% if page_obj.has_previous %}
            {% if page_obj.number != 2 %}
            <a href="?page=1&query={{ search }}" class="page-number">First</a>
            {% endif %}
            <a href="?page={{ page_obj.previous_page_number }}&query={{ search }}" class="page-number">{{ page_obj.previous_page_number }}</a>
        {% endif %}
        <a class="current-page-number">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&query={{ search }}" class="page-number">{{ page_obj.next_page_number }}</a>
        {% endif %}
        {% if paginator.num_pages > page_obj.next_page_number %}
            <a href="?page={{ paginator.num_pages }}&query={{ search }}" class="page-number">Last</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/clients.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFomHEDiF7Z8HJfbTarnXa_dh2d6hw6k0&libraries=places&callback=initAutocomplete"></script>
{% endblock javascript %}