{% extends 'JobTrackingApp/base.html'%}
{% load static %}
{% block title %} <title>Schedule Tracker - Edit Client </title> {% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/clientDetailView.css' %}">
{% endblock css %}

{% block content %}
    <div class="updateClientDiv">
        <form class="updateClientForm" action='' method='POST'>
            <p class="header">Update Profile </p>
            {% csrf_token %}
            <div class="form">
                {% for field in form %}
                    <p class="fieldWrapper">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        <p class="help">{{ field.help_text|safe }}</p>
                    </p>
                {% endfor %}
            </div>
            <div class="buttonContainer">
                <input class="button" type="submit" name="action" value="Update">
                <a class="button" href="{% url 'client-delete' pk %}">Delete</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/clientDetailView.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFomHEDiF7Z8HJfbTarnXa_dh2d6hw6k0&libraries=places&callback=initAutocomplete"></script>
{% endblock javascript %}