{% extends 'JobTrackingApp/base.html' %}

{% load static %}

{% block title %} <title> Schedule Tracker - Delete Event </title> {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/clientDeleteView.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <form action='' method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete this event?</p>
            <div class="wrapper">
                <input class="button yes" type="submit" name="action" value="Yes">
                <input class="button" type="submit" name="action" value="No">
            </div>
        </form>
    </div>
{% endblock content %}