@import 'base';

main#content{
    padding-top: 4rem;
    h1.header{
        text-align: center;
    }
    form{
        max-width: 600px;
        margin: auto;
        box-shadow: 1px 1px 8px 1px grey;
        margin-top: 2rem auto 1rem auto;
        border: 1px solid black;
        text-align: left;
        padding: 2rem;
        border-radius: 10px;
        input{
            padding: 5px;
            min-width: 150px;
            width: 250px;
        }
        ul{
            margin-left: 1rem;
            width: 350px;
            font-size: 13px;
        }
        input[type="submit"]{
            margin: 1rem auto 1rem auto;
            max-width: 200px;
        }
    }

    a{
        color: dodgerblue;
    }

}