@import 'base';

main#content{
    padding-top: 4rem;
    .button{
        max-width: 200px;
    }
    form{
        max-width: 600px;
        margin: auto;
        box-shadow: 1px 1px 8px 1px grey;
        margin-top: 2rem auto 1rem auto;
        border: 1px solid black;
        text-align: center;
        padding: 2rem;
        border-radius: 10px;
        table{
            margin:auto;
            padding: 15px;
            td{
                padding: 5px;
                text-align: left;
                input{
                    padding: 5px;
                }
            }
        }
    }
    p{
        text-align: center;
        color: red;
    }
    .lost{
        color: dodgerblue;
    }
}