@import 'base';

main#content{
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    form{
        max-width: 600px;
        margin: auto;
        border: 1px solid grey;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
        input[type="email"]{
            padding: 5px;
            min-width: 150px;
            width: 250px;
        }
    }
    input[type="submit"]{
        margin: auto;
        display: block;
        margin-top: 1rem;
        min-width: 200px;
        padding: 5px;
        width: 250px;
    }
}
