@import 'base';

main#content{
    form{
        max-width: 600px;
        margin: auto;
        border: 1px solid grey;
        padding: 2rem;
        border-radius: 5px;
    }
    input[type="submit"]{
        margin: auto;
        display: block;
        margin-top: 1rem;
        width: 150px;
    }
}