@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
ul.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: sticky;
  top: 60px;
  z-index: 1; }
  ul.messages li {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 1px; }
    ul.messages li p {
      display: inline;
      position: absolute;
      margin: 0;
      right: 7px;
      top: 7px; }
  ul.messages li.success {
    background-color: #29ce29;
    color: black; }
  ul.messages li.warning {
    background-color: red;
    color: white; }

a, a:visited {
  text-decoration: none; }

ul {
  padding: 0px; }

a.page-number {
  padding: 5px 10px;
  border: 1px solid #919191;
  border-radius: 5px;
  background-color: #b1e5f2;
  cursor: pointer;
  text-align: center;
  margin: 3px; }
  a.page-number:hover {
    background-color: #f28c98;
    color: white; }

a.current-page-number {
  padding: 5px 10px;
  border: 1px solid #919191;
  border-radius: 5px;
  background-color: #f28c98;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 3px; }

ul.errorlist {
  padding: 2px 5px 2px 5px;
  width: 80%;
  text-align: center;
  margin: 0px auto 0px auto;
  color: black;
  list-style-type: square;
  border: none; }
  ul.errorlist li {
    color: red;
    font-size: 14px; }

.button {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: #919191;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 2px;
  border: 2px solid #7e7e7e; }
  .button:hover {
    color: #919191;
    background-color: white; }
  .button:active, .button:focus {
    outline: none; }

.exit {
  border: 1px solid #7e7e7e;
  padding: 2px;
  width: 17px;
  display: block;
  border-radius: 50%;
  background-color: #919191; }
  .exit:hover {
    color: #919191;
    background-color: white;
    cursor: pointer; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif; }

nav#navbar {
  background-color: #393838;
  padding: 20px 10px 20px 10px;
  font-family: 'Balsamiq Sans', cursive;
  color: white;
  z-index: 3;
  position: sticky;
  top: 0;
  width: 100%; }
  nav#navbar div.menu {
    display: flex;
    flex-direction: row;
    align-items: center; }
    nav#navbar div.menu div#sidebar-icon {
      width: 20px;
      height: 15px;
      margin-left: 5px;
      cursor: pointer; }
      nav#navbar div.menu div#sidebar-icon span.side-bar-container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        nav#navbar div.menu div#sidebar-icon span.side-bar-container div.sidebar {
          height: 3px;
          width: 100%;
          background-color: #b1e5f2;
          border-radius: 3px;
          transition: all 0.3s ease-in-out; }
        nav#navbar div.menu div#sidebar-icon span.side-bar-container div.sidebar1 {
          transform: translateY(4px) rotate(45deg); }
        nav#navbar div.menu div#sidebar-icon span.side-bar-container div.sidebar2 {
          visibility: hidden;
          transition: visibility 0.1s; }
        nav#navbar div.menu div#sidebar-icon span.side-bar-container div.sidebar3 {
          transform: translateY(-8px) rotate(-45deg); }
      nav#navbar div.menu div#sidebar-icon:hover span.side-bar-container div.sidebar {
        background-color: white; }
    nav#navbar div.menu div#logo {
      color: #f28c98;
      flex: 2;
      text-align: start;
      padding-left: 5%; }
      nav#navbar div.menu div#logo:hover {
        animation: changeColors 2s forwards; }
      nav#navbar div.menu div#logo span {
        color: #b1e5f2; }
      nav#navbar div.menu div#logo img#clock {
        width: 15px; }

@keyframes changeColors {
  50% {
    color: white; }
  100% {
    color: #f28c98; } }
    nav#navbar div.menu div#login, nav#navbar div.menu div#register, nav#navbar div.menu div#logout {
      flex: 1;
      text-align: center; }
    nav#navbar div.menu div#login a:hover, nav#navbar div.menu div#logout a:hover, nav#navbar div.menu div#register a:hover {
      color: #b1e5f2;
      cursor: pointer; }

nav#main-sidebar {
  position: fixed;
  z-index: 2; }
  nav#main-sidebar div.sidebar-container {
    transform: translate(-200px);
    background-color: #393838;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0; }
    nav#main-sidebar div.sidebar-container ul#sidebar-ul {
      margin-top: 6rem;
      list-style-type: none;
      list-style-position: outside;
      font-size: 16px;
      padding-left: 0px; }
      nav#main-sidebar div.sidebar-container ul#sidebar-ul li.item {
        margin-left: 10px;
        margin: 2rem;
        padding: 5px;
        border-radius: 5px; }
        nav#main-sidebar div.sidebar-container ul#sidebar-ul li.item:hover {
          background-color: white;
          color: black;
          cursor: pointer; }

main {
  padding: 5px;
  width: 85%;
  min-height: 100vh;
  margin: auto;
  background-color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box; }

main#content div.createEventDiv {
  display: none;
  max-width: 700px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  width: 90%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px; }
  main#content div.createEventDiv p.header {
    padding: 10px;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center; }
  main#content div.createEventDiv input.button {
    max-width: 300px;
    margin: auto;
    display: block; }
  main#content div.createEventDiv div.wrapper2 {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main#content div.createEventDiv div.wrapper2 div.field {
      flex-basis: 48%;
      text-align: center;
      display: flex;
      flex-wrap: wrap; }
      main#content div.createEventDiv div.wrapper2 div.field .flex-item {
        margin: 10px; }
      main#content div.createEventDiv div.wrapper2 div.field .flex-item1 {
        order: 3;
        width: 100%; }
      main#content div.createEventDiv div.wrapper2 div.field .flex-item2 {
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        order: 1;
        width: 100%; }
      main#content div.createEventDiv div.wrapper2 div.field .flex-item3 {
        width: 100%;
        order: 2; }
        main#content div.createEventDiv div.wrapper2 div.field .flex-item3 input, main#content div.createEventDiv div.wrapper2 div.field .flex-item3 select {
          width: 100%;
          text-align: center;
          padding: 5px;
          max-width: 250px;
          margin-left: 20px; }
        main#content div.createEventDiv div.wrapper2 div.field .flex-item3 textarea {
          width: 100%;
          max-width: 100%;
          padding: 10px;
          font-size: 1rem; }

main#content div.wrapper {
  margin: 1rem auto 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  border-bottom: 1px solid grey; }
  main#content div.wrapper div {
    margin-bottom: 1rem; }
  main#content div.wrapper div.search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; }
    main#content div.wrapper div.search input {
      padding: 5px;
      border-radius: 5px; }
      main#content div.wrapper div.search input.button {
        width: 70px; }
      main#content div.wrapper div.search input#id_query {
        min-width: 70px;
        max-width: 175px; }
  main#content div.wrapper div.features button.addClient {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; }

main#content div.paginator {
  clear: both;
  margin: auto;
  text-align: center;
  margin: 0.5rem auto 0.1rem auto; }

main#content table#eventTable {
  width: 100%;
  border-spacing: 0 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-sizing: border-box;
  overflow: hidden; }
  main#content table#eventTable th {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: #f28c98;
    border-right: 1px solid #c9c9c9;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    font-weight: bold; }
  main#content table#eventTable td {
    text-align: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    max-width: 200px; }
    main#content table#eventTable td.job-description {
      cursor: pointer;
      white-space: nowrap;
      text-align: left;
      overflow: auto; }
      main#content table#eventTable td.job-description.wrap {
        white-space: pre-wrap;
        cursor: auto; }
    main#content table#eventTable td[data-name="Date"] {
      color: dodgerblue; }
  main#content table#eventTable tr.table-row {
    background-color: white;
    box-shadow: 0px 0px 9px 0px #c9c9c9; }
    main#content table#eventTable tr.table-row:hover {
      background-color: #f9f3ed; }

@media screen and (max-width: 501px) {
  main#content {
    width: 95%; }
    main#content div.createEventDiv form.addEventForm p.header {
      font-size: 1.2rem; }
    main#content div.createEventDiv form.addEventForm div.wrapper2 div.field {
      font-size: 14px;
      flex-basis: 90%; }
    main#content table#eventTable {
      width: 100%;
      border-spacing: 0 3rem; }
      main#content table#eventTable tr.table-header {
        display: none; }
      main#content table#eventTable tr {
        margin-bottom: 5rem;
        padding: 5px; }
        main#content table#eventTable tr td {
          padding: 5px 5px;
          overflow: hidden;
          display: block;
          text-align: right;
          border: 1px solid #f0f0f0;
          border-left: 1px solid grey;
          border-right: 1px solid grey;
          max-width: 501px; }
          main#content table#eventTable tr td.job-description {
            white-space: break-spaces;
            text-align: right;
            overflow: auto; }
          main#content table#eventTable tr td:first-child {
            border-top: 2px solid grey; }
          main#content table#eventTable tr td:last-child {
            border-bottom: 2px solid grey; }
        main#content table#eventTable tr td::before {
          content: attr(data-name);
          float: left;
          margin-bottom: 1rem;
          font-weight: bold;
          padding-right: 2rem;
          text-transform: uppercase;
          font-size: 12px;
          background-color: #b1e5f2;
          padding: 5px;
          border-radius: 5px;
          margin-right: 15px; } }

@media screen and (max-width: 768px) {
  main#content table#eventTable {
    width: 100%;
    border-spacing: 0 3rem; }
    main#content table#eventTable tr.table-header {
      display: none; }
    main#content table#eventTable tr {
      width: 100%; }
    main#content table#eventTable td {
      max-width: 768px;
      padding: 5px 5px;
      padding-right: 10px;
      overflow: hidden;
      display: block;
      text-align: right;
      font-size: 1rem;
      border: 1px solid #f0f0f0;
      border-left: 2px solid grey;
      border-right: 2px solid grey; }
      main#content table#eventTable td.job-description {
        white-space: break-spaces;
        text-align: right;
        overflow: auto; }
      main#content table#eventTable td[data-name="Date"] {
        color: dodgerblue; }
      main#content table#eventTable td:first-child {
        border-top: 2px solid grey; }
      main#content table#eventTable td:last-child {
        border-bottom: 2px solid grey; }
    main#content table#eventTable td::before {
      color: black;
      content: attr(data-name);
      float: left;
      margin-bottom: 1rem;
      font-weight: bold;
      padding-right: 1rem;
      text-transform: uppercase;
      font-size: 14px;
      background-color: #b1e5f2;
      padding: 5px;
      border-radius: 5px;
      margin-right: 15px; } }
