{% extends "JobTrackingApp/base.html" %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
{% endblock css %}

{% block title %}<title>Enter new password</title>{% endblock %}

{% block content %}

{% if validlink %}

<h1 class="header">Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="button" type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}