$special-blue: rgb(177, 229, 242);
$special-pink: rgb(242, 140, 152);
$special-grey: rgb(57, 56, 56);
$special-light-grey:  rgb(145, 145, 145);
$special-white: rgb(237, 237, 237);
$special-darker-white:  rgb(223, 223, 223);

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

a.page-number{
    padding: 5px 10px;
    border: 1px solid $special-light-grey;
    border-radius: 5px;
    background-color: $special-blue;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    &:hover{
        background-color: $special-pink;
        color: rgb(255, 255, 255);
    }
}

a.current-page-number{
    padding: 5px 10px;
    border: 1px solid $special-light-grey;
    border-radius: 5px;
    background-color: $special-pink;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    margin:3px;
}

ul.errorlist{
    padding: 2px 5px 2px 5px;
    width: 80%;
    text-align: center;
    margin: 0px auto 0px auto;
    color: black;
    list-style-type: square;
    border: none;
    li{
        color: red;
        font-size: 14px;
    }
}


.button{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(145, 145, 145);
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    letter-spacing: 2px;
    border: 2px solid rgb(126, 126, 126);
    &:hover{
        color: $special-light-grey;
        background-color: white;
    }
    &:active, &:focus{
        outline: none;
    }
}

.exit{
    border: 1px solid rgb(126, 126, 126);
    padding: 2px;
    width: 17px;
    display: block;
    border-radius: 50%;
    background-color: $special-light-grey;
    &:hover{
        color: $special-light-grey;
        background-color: white;
        cursor: pointer;
    }
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
    
}


nav#navbar{
    background-color: $special-grey;
    padding: 20px 10px 20px 10px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    div.menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        div#sidebar-icon{
            width: 20px;
            height: 15px;
            margin-left: 5px;
            cursor: pointer;
            span.side-bar-container{
                width: inherit;
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                div.sidebar{
                    height: 3px;
                    width: 100%;
                    background-color: $special-blue;
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;
                }
                div.sidebar1{
                    transform: translateY(4px) rotate(45deg);
                }
                div.sidebar2{
                    visibility: hidden;
                    transition: visibility 0.1s;
                }
                div.sidebar3{
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
            &:hover span.side-bar-container div.sidebar{
                background-color: white;
            }
        }
        div#logo{
            color: $special-pink;
            flex: 2;
            text-align: start;
            padding-left: 5%;
            &:hover{
                animation: changeColors 2s forwards;
            }
            span{
                color: $special-blue;
            }
            img#clock{
                width: 15px;
            }
            @keyframes changeColors {
                50%{
                    color: white;
                }
                100%{
                    color: $special-pink;
                }
            }
        }
        div#login, div#register, div#logout{
            flex: 1;
            text-align: center;
        }
        div#login a:hover, div#logout a:hover, div#register a:hover{
            color: $special-blue;
            cursor: pointer;
        }
    }
}

nav#main-sidebar{
    position: relative;
    z-index: 1;
    div.sidebar-container{
        transform: translate(-200px);
        background-color: $special-grey;
        color: white;
        width: 200px;
        height: 100vh;
        position: fixed;
        transition: transform 0.3s ease-in-out;
        ul#sidebar-ul{
            list-style-type: none;
            list-style-position: outside;
            font-size: 16px;
            padding-left: 0px;
            li.item{
                margin-left: 10px;
                margin: 2rem;
                padding: 5px;
                border-radius: 5px;
                &:hover{
                    background-color: white;
                    color: black;
                    cursor: pointer;
                }


            }
        }
    }
}

main{
    padding: 5px;
    width: 85%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    position: relative;
}