@import 'base';

main{
    div.createClientDiv{
        margin:auto;
        display: none;
        width: 280px;
        min-width: 240px;
        max-width: 340px;
        position: absolute;
        left: 35%;
        color: black;
        form.addClientForm{
            background-color: $special-pink;
            background-image: linear-gradient($special-white, $special-darker-white);
            width: inherit;
            height: inherit;
            border: 1px solid black;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 5px 5px 10px #9a9a9a;
            input{
                text-align: center;
                padding: 5px;
                width: 90%;
                &.button{
                    margin-top: 0.7rem;
                    margin-bottom: 0.7rem;
                }
            }

            p.formExit{
                position: absolute;
                right: -15px;
                top: -10px;
            }
        }
    }

    div.wrapper{
        margin: 1rem auto 2rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        div{
            margin-bottom: 1rem;
        }
        div.search{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            input{
                padding: 5px;
                border-radius: 5px;
                &.button{
                    width: 70px;
                }
                &#id_query{
                    min-width: 70px;
                    max-width: 120px;
                }
            }
        }
    
        div.features{
            button.addClient{
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }


    table#clientsTable{
        width: 100%;
        border-spacing: 0 1.5rem;
        th{
            text-align: center;
            padding: 15px;
            border-bottom: 1px solid grey;
            border-top: 1px solid grey;
            background-color: $special-pink;
            background-color: $special-blue;
            border-right: 1px solid rgb(201, 201, 201);
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: normal;
            letter-spacing: 1px;
        }

        td{
            text-align: center;
            padding: 2rem 5px;
            a{
                color: inherit;
                text-decoration: underline;
                text-decoration-color: inherit;

                &:hover{
                    color: rgb(2, 10, 227);
                    text-decoration: none;
                }
            }
            max-width: 200px;
        }

        .table-row{
            background-color:white;
            border-radius: 5px;
            border: 1px solid black;
            box-shadow: 0px 0px 9px 0px rgb(201, 201, 201);
            &:hover{
                background-color: $special-blue;
                background-color: antiquewhite;
            }
        }
    }

    div.paginator{
        clear: both;
        margin: auto;
        text-align: center;
        margin: 0.5rem auto 0.1rem auto;
    }

    p.not-found{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        color: red;
    }

}

// Media Queries
@media screen and (max-width: 501px) {
    main{
        table#clientsTable{
            width: 100%;
            border-spacing: 0 3rem;
            tr.table-header{
                display: none;
            }

            tr{
                width: 100%;
                margin-bottom: 5rem;
                td{
                    padding: 10px 5px;
                    overflow: hidden;
                    display: block;
                    text-align: right;
                    border: 1px solid rgb(240, 240, 240);
                    max-width: 501px;
                }
    
                td::before{
                    content: attr(data-name);
                    float: left;
                    margin-bottom: 1rem;
                    font-weight: bold;
                    padding-right: 2rem;
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
        
        }
    }

}

@media screen and (max-width: 768px) {
    main{
        table#clientsTable{
            width: 100%;
            // border-collapse: collapse;
            border-spacing: 0 3rem;

            tr.table-header{
                display: none;
            }
            tr{
                width: 100%;
            }
            
            td{
                max-width: 768px;
                padding: 10px 5px;
                overflow: hidden;
                display: block;
                text-align: right;
                font-size: 1rem;
                border: 1px solid rgb(240, 240, 240);
            }

            td::before{
                content: attr(data-name);
                float: left;
                margin-bottom: 1rem;
                font-weight: bold;
                padding-right: 1rem;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    } 
}


@media screen and (min-width:769px) and (max-width:1170px) {
    
}

@media screen and (min-width:1171px) {
    
}