@import 'base';

main{
    div.createClientDiv{
        margin:auto;
        display: none;
        width: 280px;
        min-width: 240px;
        max-width: 340px;
        position: absolute;
        left: 35%;
        color: black;
        form.addClientForm{
            background-color: $special-pink;
            background-image: linear-gradient($special-white, $special-darker-white);
            width: inherit;
            height: inherit;
            border: 1px solid black;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 5px 5px 10px #9a9a9a;
            input{
                text-align: center;
                padding: 5px;
                width: 90%;
                &.button{
                    margin-top: 0.7rem;
                    margin-bottom: 0.7rem;
                }
            }

            p.formExit{
                position: absolute;
                right: -15px;
                top: -10px;
            }
        }
    }

    div.features{
        float: right;
        button.addClient{
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        margin-right: 1rem;
    }

    table#clientsTable{
        width: 100%;
        // border-collapse: collapse;
        border-spacing: 0 1.5rem;
        th{
            text-align: center;
            padding: 15px;
            border-bottom: 1px solid grey;
            border-top: 1px solid grey;
            background-color: $special-pink;
            background-color: $special-blue;
            border-right: 1px solid rgb(201, 201, 201);
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: normal;
            letter-spacing: 1px;
        }

        td{
            text-align: center;
            padding: 20px 5px;
            // border-bottom: 1px solid grey;
            // border-top: 1px solid grey;
            a{
                color: inherit;
                text-decoration: underline;
                text-decoration-color: inherit;

                &:hover{
                    color: rgb(2, 10, 227);
                    text-decoration: none;
                }
            }
        }

        .table-row{
            background-color:white;
            border-radius: 5px;
            border: 1px solid black;
            box-shadow: 0px 0px 9px 0px rgb(201, 201, 201);
            &:hover{
                background-color: $special-blue;
                background-color: antiquewhite;
            }
        }
    }

    div.paginator{
        clear: both;
        margin: auto;
        text-align: center;
        margin: 0.5rem auto 0.1rem auto;
    }

    p.not-found{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        color: red;
    }

    div.search{
        float:left;
        display: block;
        margin: 0.5rem;
        input{
            padding: 5px;
            border-radius: 5px;
            &.button{
                width: 90px;
            }
        }
    }
}