@import 'base';

main{
    div.createClientDiv{
        margin:auto;
        display: none;
        width: 220px;
        position: absolute;
        left: 35%;
        color: white;
        form.addClientForm{
            background-color: $special-pink;
            width: inherit;
            border: 1px solid black;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 10px 5px 10px #b66b6b;
            input{
                text-align: center;
                padding: 5px;
                width: 90%;
                &.submit{
                    margin-top: 1rem;
                }
            }
            textarea#id_address{
                width: 90%;
                height: 50px;
                resize: none;
            }

            p.formExit{
                position: absolute;
                right: -15px;
                top: -10px;
            }
        }
    }

    div.features{
        float: right;
        button.addClient{
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        margin-right: 1rem;
    }

    table#clientsTable{
        width: 100%;
        border-collapse: collapse;
        th{
            border: 1px solid grey;
            text-align: center;
            padding: 10px;

        }

        td{
            border: 1px solid grey;
            text-align: center;
            padding: 5px;

            a{
                color: rgb(15, 23, 255);
                text-decoration: underline;
            }
        }
    }
}